* {
    box-sizing: border-box;
    font-family: 'Noto Kufi Arabic', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    text-transform: capitalize;
    color: #09192e;
}
/* <!-- nav-top --> */
header.top{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 3px #ccc;/
}
/* <!-- left-part -nav-top --> */
.left-part{
    width: 10%;
}
.search{
    position: relative;
}
.search .fa-searchengin{
    color: #606770;
    position: absolute;
    font-size: 16px;
    left: 16px;
    top: 9px;
    transition: font-size .3s .1s ease;
}
.search .fa-searchengin:hover{
    font-size: 19px
}
.search input{
    border: none;
    margin-left: 5px;
    background-color: #f5f0f0;
    border-radius: 50px;
    padding:7px 16px 9px 36px;
    color: #606770;
    font-size: 14px;
    height: 30px;
    transition:font-size .5s .1s ease-in ;
}
.search input:hover{
    font-size: 16px;
}
.search input:focus {
    outline: none;
    background-color: rgb(241, 234, 234);
}
/* <!-- center-part -nav-top --> */
.center-part{
    color:#606770;
    width: 10%;
    padding: 5px 15px;
    border: 2px solid black; text-align: center;
    cursor: pointer;
    font-size: 14px;

}
/* <!-- right-part -nav-top --> */
.right-part{
    color: #09192e;
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.car-pos{
    position: relative;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    width: 20px;
    height: 20px;
    color: white;
    background-color: rgb(185, 112, 214);
    border-radius: 50%;
    position: absolute;
    top:-20px;
    left: 10px;
    transition: position 1s 0s ease;
}
.car-pos:hover .number{
    position: absolute;
    top:-21.2px;
    left: 10px;
}
i:hover.fa-user{
    color: rgb(58, 114, 219);
}
i:hover.fa-heart{
    color: rgb(58, 114, 219);
}
i:hover.fa-cart-shopping{
    color: rgb(58, 114, 219);
}
/* <!--end- nav-top --> */

/* <!--start--main-nav---> */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li a{
    text-transform: capitalize;
    transition: color .3s ease;
    font-size: 14px;
    color:black
}
ul li a:hover{
    color:rgb(23, 192, 59) ;
}

.fa-angle-down{
    margin-left: 5px;
    font-size: small;
}
.fa-angle-down:hover{
    color:rgb(185, 112, 214);
    cursor: pointer;
}
/* <!--end--main-nav---> */
.tp1{
    height: 10vh;
    background-color: rgba(168, 172, 179,.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-spacing: 5px;
    margin-bottom: 50px;
}
/* <!-- tp1 --> */
.tp1 h3{
    margin-left: 50px;
    font-size: 15px;
}
.tp1 h3 span{
    color: blueviolet;
}
/* <!-- tp1 --> */
/* <!-- main-section --> */
table , tr ,td{
    border: .1px solid gray;
    border-collapse: collapse;
    text-align: center;
    padding: 0px 20px;
    margin-top: 15px;
    background-color: rgba(9,34,30,.1);
    color: white;
    
}
td img {
    width: 100%;
}

.salah{
    width: 15%;
}
.fa-xmark{
    background-color: blueviolet;
    font-size: 30px;
    border-radius: 5px;
    padding: 5px 10px;
}
.btn{
    margin-top: 50px;
}
.btn a{
    color: wheat;
}

#bttn{
    padding: 10px 50px;
    background-color: blueviolet;
    border: .1px solid darkgray;
    border-radius: 5px;
    color: white;
    margin-right: 30px;
    margin-left: 10px;
    letter-spacing: 3px;
}
#btttn{
    padding: 10px 50px;
    border: .1px solid darkgray;
    border-radius: 5px;
    color: slateblue;
}
#btttn a{
    color: slateblue;
}
.mai{
    position: relative;
}
.cart-total{
    position: absolute;
    right: 150px;
    top: 0;
    text-transform: uppercase;
}
.coupon{
    margin-top: 50px;
    margin-left: 10px;

}
.coupon p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #606770;
    font-size: 14px;
}
form{
    margin-left: 10px;

}
form input{
    padding: 10px 17px;
    border: .1px solid lightslategray;
}
form button{
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    margin-left: 15px;
    color: rgb(227, 226, 236);
    background-color: blueviolet;
    /* position: absolute;
    top:90%;
    right: 90%; */
    transition: all .31s .1s ease;
}
form button:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px 5px #ccc;
}
.tab,.tdd {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* start footer */
.foot-top{
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.heading p{
    font-size: 13px;
    padding: 8px 15px;
    color: #606770;
    cursor: pointer;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.im img{
    width: 80%;
margin: 20px 0px;
cursor: pointer;
}
.im h4{
    color: #216fd4;
    cursor: pointer;
}
.im p{
    color: #888888;
    font-size: 13px;
    margin-top: 13px;
    cursor: pointer;
}
.part1{
    width: 50%;
    margin-bottom: 30px;
}
.part2,.part3{
    width: 20%;
    margin-bottom: 30px;

}
.part1 h5, .part2 h5,.part3 h5{
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
}
.promo{
    position: relative;

}
.fa-location-dot , .fa-envelope , .fa-phone{
    position: absolute;
    left: -24px;
    color: #216fd4;
    cursor: pointer;
}
.promo p{
    margin: 15px 0px;
    cursor: pointer;
}
p.para{
    color: #888888;
    cursor: pointer;
}
form{
    position: relative;
}
.inp{
    padding: 9px 20px;
}
form button{
    padding: 10px 20px;
    position: absolute;
    top: 1px;
    right: 40px;
    background-color: #114fa0;
    border: none;
    cursor: pointer;
}
.foot-down p{
    margin-top: 50px;
    text-align: center;
    color: #606770;
    font-size: 13px;
}
.foot-down i{
    color: red;
    font-size: 15px;
}
.foot-down span{
    color: #216fd4;
}
/* -------------media-------- */

@media screen and (max-width: 1200px) and (min-width: 992px)
{
    .center-part{
        width: 18%;
    }
    .tp1 h3{
        margin-left: 100px;
        font-size: 15px;
    }

    .foot-top{
        margin-top: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .part1{
        width: 40%;
        margin-bottom: 30px;
    }
    .part2,.part3{
        width: 25.4%;
        margin-bottom: 30px;
    
    }
    .part1 h5, .part2 h5,.part3 h5{
        margin-bottom: 20px;
        font-size: 15px;
        cursor: pointer;
    }
    .x1 h2{
        font-size: 14px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
    .x1 p{
        font-size: 10px;
        color: #524c4c;
    }
    .info .olay{
        width: 17%;
        text-transform: capitalize;
        position: relative;
        margin-left: 50px;
    }
    .part1{
        width: 50%;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .foot-top{
        margin-top: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .part1{
        width: 40%;
        margin-bottom: 30px;
    }
    .part2,.part3{
        width: 10%;
        margin-bottom: 30px;
    
    }
    .im h4{
        color: #216fd4;
        cursor: pointer;
        font-size: 12px;

    }
    .im p{
        color: #888888;
        font-size: 12px;
        margin-top: 13px;
        cursor: pointer;
    }
    .part3 h5{
        font-size: 12px;

    }
    .promo p{
        margin: 15px 0px;
        cursor: pointer;
        font-size: 12px;

    }
    form button{
        padding: 10px 20px;
        position: absolute;
        top: 1px;
        right: -30px;
        background-color: #114fa0;
        border: none;
        cursor: pointer;
    }
}
@media screen and (max-width: 768px)
{
    header.top{
        position: relative;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 1px 3px #ccc;/
    }
    .center-part{
        width: 10%;
        display: none;
    }
    .search .fa-searchengin{
        display: none;
    }
    .search input{
        padding:0px;
    }
    .search input:hover:hover{
        font-size: 12px
    }
    .right-part{
        color: #09192e;
        width: 12%;
        display: flex;
        justify-content: space-between;
    }
    .salah-name{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 30px;
        border: .01px solid gray;
        padding: 2px 5px;
    }
    ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    ul li{
        margin: 5px;
        width: 30%;
    }
    .fully{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
    }
    .left--part{
        text-align: center;
        width: 90%;
        position: relative;
    }
    .left--part img{
        width:90%;
    }
    .right--part{
        width: 90%;
        position: relative;
    }
    .right--part h2{
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .right--part p{
        text-align: center;

        font-size: 13px;
        color: #888888;
        margin-bottom: 30px;
    }
    .dashh{
        display: none;
    }
    .team-numb{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .x1{
        width: 90%;
        margin-top: 50px;
        text-align: center;
    }
    .x1 h2{
        margin-bottom: 12px;
        margin-top: 12px;
    }
    .x1 p{
        font-size: 13px;
        color: #524c4c;
    }
    .info{
        display: flex;
        flex-wrap: wrap;
        justify-content:center ;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .info .olay{
        width: 70%;
        text-transform: capitalize;
        position: relative;
        margin-left: 50px;
        margin-top: 50px;
    }
    .appp{
        display: flex;
        flex-wrap: wrap;
        justify-content:center ;
        align-items: center;
        margin-top: 30px;
    }
    .appp .it1{
        width: 90%;
        text-align: center;
        background-color: rgba(233, 255, 255,.2);
    }
    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {background-color: #f2f2f2;}
      #bttn{
        padding: 10px 40px;
        background-color: blueviolet;
        border: .1px solid darkgray;
        border-radius: 5px;
        color: white;
        margin-right: 30px;
        margin-left: 10px;
        letter-spacing: 3px;
    }
    #btttn{
        padding: 10px 40px;
        border: .1px solid darkgray;
        border-radius: 5px;
        color: slateblue;
        position: absolute;
        right: 8px;
    }

      .mai{
        position: relative;
    }
      .cart-total{
        position: absolute;
        right: 150px;
        top: 200px;
        text-transform: uppercase;
    }
    .coupon{
        margin-top: 20px;
        margin-left: 10px;
    
    }
    .coupon p{
        margin-top: 10px;
        margin-bottom: 10px;
        color: #606770;
        font-size: 14px;
    }
    form input{
        padding: 10px 11px;
        border: .1px solid rgb(24, 59, 94);
        position: relative;
        margin-bottom: 100px;
    }


    .foot-top{
        /* margin-left: 100px; */
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 80%;
    }
    .part1{
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    .part2,.part3{
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    form button{
        padding: 10px 20px;
        position: absolute;
        top: 1px;
        right: 100px;
        background-color: #114fa0;
        border: none;
        cursor: pointer;
    }
    .foot-down p{
        margin-top: 15px;
    }
    .fa-location-dot , .fa-envelope , .fa-phone{
        position: absolute;
        left: 80px;
        color: #216fd4;
        cursor: pointer;
    }
}