* {
    box-sizing: border-box;
    font-family: 'Noto Kufi Arabic', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    text-transform: capitalize;
    color: #09192e;
}
/* <!-- nav-top --> */
header.top{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 3px #ccc;/
}
/* <!-- left-part -nav-top --> */
.left-part{
    width: 10%;
}
.search{
    position: relative;
}
.search .fa-searchengin{
    color: #606770;
    position: absolute;
    font-size: 16px;
    left: 16px;
    top: 9px;
    transition: font-size .3s .1s ease;
}
.search .fa-searchengin:hover{
    font-size: 19px
}
.search input{
    border: none;
    margin-left: 5px;
    background-color: #f5f0f0;
    border-radius: 50px;
    padding:7px 16px 9px 36px;
    color: #606770;
    font-size: 14px;
    height: 30px;
    transition:font-size .5s .1s ease-in ;
}
.search input:hover{
    font-size: 16px;
}
.search input:focus {
    outline: none;
    background-color: rgb(241, 234, 234);
}
/* <!-- center-part -nav-top --> */
.center-part{
    color:#606770;
    width: 10%;
    padding: 5px 15px;
    border: 2px solid black; text-align: center;
    cursor: pointer;
    font-size: 14px;

}
/* <!-- right-part -nav-top --> */
.right-part{
    color: #09192e;
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.car-pos{
    position: relative;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    width: 20px;
    height: 20px;
    color: white;
    background-color: rgb(185, 112, 214);
    border-radius: 50%;
    position: absolute;
    top:-20px;
    left: 10px;
    transition: position 1s 0s ease;
}
.car-pos:hover .number{
    position: absolute;
    top:-21.2px;
    left: 10px;
}
i:hover.fa-user{
    color: rgb(58, 114, 219);
}
i:hover.fa-heart{
    color: rgb(58, 114, 219);
}
i:hover.fa-cart-shopping{
    color: rgb(58, 114, 219);
}
/* <!--end- nav-top --> */

/* <!--start--main-nav---> */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#home{
    color: #216fd4;
}
ul li a{
    text-transform: capitalize;
    transition: color .3s ease;
    font-size: 14px;
    color:black
}
ul li a:hover{
    color:rgb(23, 192, 59) ;
}
i.tow{
    color: #b57bd6;  
}
.fa-angle-down{
    margin-left: 5px;
    font-size: small;
}
.fa-angle-down:hover{
    color:rgb(185, 112, 214);
    cursor: pointer;
}
/* <!--end--main-nav---> */

/* <!--start--main-nav---> */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#home{
    color: #216fd4;
}
ul li a{
    text-transform: capitalize;
    transition: color .3s ease;
    font-size: 14px;
}
ul li a:hover{
    color:rgb(185, 112, 214) ;
}
i.one{
    color: #216fd4;  
}
.fa-angle-down{
    margin-left: 5px;
    font-size: small;
}
.fa-angle-down:hover{
    color:rgb(185, 112, 214);
    cursor: pointer;
}
/* <!--end--main-nav---> */

/* <!-- start main section-- --> */
main{
    /* background-color: gray; */
    position: relative;
    margin-top: 50px;
    /* height: 1000px; */
}
.sec1{
    padding: 20px;
    width: 20%;
    border: .2px solid transparent;
    box-shadow: 1px 1px 20px #ccc;
    box-shadow: -1px -1px 20px #ccc;
    margin-bottom: 30px;
}
td{
    padding: 5px 20px;
}
tr .name{
    color: #1f6fdf;
}
/* end--.sec1--------- */
form p{
    color: #888888;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 13px;
}
.sama{
    font-size: 13px;
    margin-bottom: 5px;
}
.samaa{
    padding: 0;
}
.sec3{
    width: 100%;
}
.mini{
    font-size: 14px;
    color: #888888;
}
.inp{
    accent-color:red;
}

.inp1{
    accent-color:green;
}

.inp2{
    accent-color:blue;
}

.inp3{
    accent-color:purple;
}
main h4{
    position: absolute;
    top: 0;
    left: 25%;
}

.select1{
    position: absolute;
    top: 0;
    right:0;
    background-color: #606770;
}
/* ----------- */
/* <!-- featuer-product-section --> */
.feature{
    background-color: rgba(235, 212, 212,.2);
    margin-top: 50px;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left:25%;
    width: 70%;
}
.feature1{
    position: absolute;
    top: 50%;
    left:25%;
    width: 70%;
}
.appp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.appp .it1{
    width: 22%;
    text-align: center;
    background-color: rgba(233, 255, 255,.2);
}
.it1 img{
    width: 100%;
    margin-bottom: 20px;
}
.it1 h3 , .it1 span{
    color:rgb(42, 99, 173) ;
}
.it1 p{
    color: #888888;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.horezintall-line{
    margin-top: 30px;
}
/* <!--end- featuer-product-section --> */
/* <!-- three-hr-product --> */
.three-hr-product{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.parnet{
    width: 25%;
    height: 380px;
    position: relative;
    transition: transform 1s .1s ease;
}
.parnet:hover{
    transform: scale(1.1);
}
.three-hr-product .ph1{
    background-image: url(/images/women.jpg);
    background-color: rgba(4,9,30,.2);
    background-blend-mode:color-burn ;
    background-size: cover;
    background-position: center center;
}
.three-hr-product .ph2{
    background-image: url(/images/children.jpg);
    background-color: rgba(4,9,30,.2);
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.three-hr-product .ph3{
    background-image: url(/images/men.jpg);
    background-color: rgba(4,9,30,.2);
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center center;
}
.kid{
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 13px;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
























/* start footer */
.foot-top{
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.heading p{
    font-size: 13px;
    padding: 8px 15px;
    color: #606770;
    cursor: pointer;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.im img{
    width: 80%;
margin: 20px 0px;
cursor: pointer;
}
.im h4{
    color: #216fd4;
    cursor: pointer;
}
.im p{
    color: #888888;
    font-size: 13px;
    margin-top: 13px;
    cursor: pointer;
}
.part1{
    width: 50%;
    margin-bottom: 30px;
}
.part2,.part3{
    width: 20%;
    margin-bottom: 30px;

}
.part1 h5, .part2 h5,.part3 h5{
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
}
.promo{
    position: relative;

}
.fa-location-dot , .fa-envelope , .fa-phone{
    position: absolute;
    left: -24px;
    color: #216fd4;
    cursor: pointer;
}
.promo p{
    margin: 15px 0px;
    cursor: pointer;
}
p.para{
    color: #888888;
    cursor: pointer;
}
form{
    position: relative;
}
.inp{
    padding: 9px 20px;
}
form button{
    padding: 10px 20px;
    position: absolute;
    top: 1px;
    right: 40px;
    background-color: #114fa0;
    border: none;
    cursor: pointer;
}
.foot-down p{
    margin-top: 50px;
    text-align: center;
    color: #606770;
    font-size: 13px;
}
.foot-down i{
    color: red;
    font-size: 15px;
}
.foot-down span{
    color: #216fd4;
}



